body {
    font-family: Arial;
    background: #f3f6fa;
    margin: 0;
    padding: 20px;
}

.app {
    width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
}

button {
    padding: 12px 20px;
    background: #007bff;
    border: none;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
}

